---
---

<div class="sm:text-md flex w-full justify-center gap-3 text-sm text-gray-500">
  <a
    class="ease transition hover:cursor-pointer hover:text-gray-800"
    href="/TamirMB_Resume_2023.pdf"
    title=""
    download>Resume</a
  >
  •
  <a
    href="https://www.linkedin.com/in/whoistamir"
    class="ease transition hover:cursor-pointer hover:text-gray-800">LinkedIn</a
  >
  •
  <a
    href="https://www.twitter.com/whoistamir"
    class="ease transition hover:cursor-pointer hover:text-gray-800">Twitter</a
  >
  •
  <a
    href="https://www.youtube.com/@whoistamir"
    class="ease transition hover:cursor-pointer hover:text-gray-800">YouTube</a
  >
  <!-- • -->
  <!-- <a
    href="https://www.github.com/whoistamir"
    class="ease transition hover:cursor-pointer hover:text-gray-800">GitHub</a
  > -->
</div>
